@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  /* height: 100%; */
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

/* Заборона скролу при відкритій модалці */
.modal-open {
  overflow: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

button {
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  #root {
    padding-top: 0px;
  }
}
