/* обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  /* height: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

/* Заборона скролу при відкритій модалці */
.modal-open {
  overflow: hidden;
}

/* #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
} */

button {
  cursor: pointer;
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Стилі для контенту модального вікна */
.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 8px;
  max-width: 610px;
}

/* Стилі для кнопки закриття */
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  #__next {
    margin-top: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  #__next {
    margin-top: 10px;
  }
  .modal {
    display: none;
    position: fixed;
    /* margin: 0; */
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    overflow: auto;
    background-color: transparent;
    padding: 40px;
    overflow: hidden;
  }

  .modal-content {
    position: relative;
    /* margin: 10% auto; */
    /* padding: 20px; */
    background-color: #fefefe;
    border-radius: 8px;
    /* max-width: 800px; */
  }
}

@media screen and (min-width: 768px) {
  #__next {
    padding-top: 0px;
  }
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(montserrat/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXpsog.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(montserrat/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w9aXpsog.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(montserrat/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w9aXpsog.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
