.relatedPromTitle,
.promTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 19.57px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(241, 117, 86, 1);
  margin: 30px 0;
  text-transform: uppercase;
  word-break: break-word;
}

.buttonWrapper {
  display: none;
}

.relatedPromList {
  display: flex;
  flex-direction: row;
  padding: 16px 4px;
  /* justify-content: center;
  align-items: center; */
  overflow-x: auto;
  /* justify-content: space-between; */
  gap: 10px;
}

.promItem {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  min-width: 200px;
  padding: 8px 4px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promImage {
  width: 100%;
}

.promTitle {
  font-size: 16px;
  margin: 12px 0;
  color: rgba(2, 129, 94, 1);
  word-break: break-word;
}

.promDescription {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.4;
  margin-bottom: auto;
}

.promotionWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.price,
.promotion {
  font-size: 12px;
  font-weight: 500;
}

.price > span,
.promotion > span {
  color: red;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .relatedPromTitle {
    margin: 0;
  }

  .buttonWrapper {
    display: block;
  }

  .button {
    background-color: transparent;
    font-size: 60px;
    margin-left: 20px;
  }

  .relatedPromList {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 4px;
  }

  .relatedPromList::-webkit-scrollbar {
    display: none;
  }

  .relatedPromList {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .promItem {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    /* min-width: 24%; */
    /* width: 24%; */
    width: calc((100% - 48px) / 4);
    flex-shrink: 0;
    scroll-snap-align: start;
    text-align: center;
    cursor: pointer;
  }

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 174px;
  }

  .promImage {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .promTitle {
    font-size: 20px;

    /* margin: 12px 0; */
    color: rgba(2, 129, 94, 1);
  }

  .promDescription {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.4;
  }

  .promotionInfo {
    display: flex;
    gap: 40px;
  }
}
