.section {
  padding: 16px 0;
}

.offersListPage {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  gap: 8px;
  overflow: hidden;
  margin-top: 10px;
}

.itemsOnPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 8px) / 2);
  flex-wrap: wrap;
  padding: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.offersList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 16px;
  padding: 16px 16px;
}

.offerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(2, 129, 94, 1);
  padding: 20px 10px;
  cursor: pointer;
  min-width: 230px;
}

.offerImage {
  /* margin-bottom: 16px; */
  width: 100%;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  min-height: 100px;
}

.offerTitle {
  text-align: center;
  color: rgba(241, 111, 78, 0.8);
  font-size: 3vw;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: -0.72px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.offerSize {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 300;
  letter-spacing: -0.39px;
}

.offerPrice {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(255, 52, 0, 1);
}

.itemDescription {
  display: -webkit-box;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
  max-height: calc(1.5em * 3);
  text-overflow: ellipsis;
}

.offerBuyBtn {
  border: none;
  margin: 0 auto;
  padding: 4px 8px;
  border-radius: 15px;
  background-color: rgba(2, 129, 94, 1);
  color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;
  text-align: center;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  49% {
    /* border: 2px solid rgba(2, 129, 94, 1); */
    background: rgba(2, 129, 94, 1);
    color: #ffffff;
  }
  50%,
  100% {
    /* border: 2px solid rgba(2, 129, 94, 1); */
    background-color: #ffffff;
    color: rgba(2, 129, 94, 1);
  }
}

.promotionDesktop {
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.03em;
  text-align: left;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    min-height: 676px;
  }
  .itemsOnPage {
    width: calc((100% - 48px) / 4);
    cursor: pointer;
    position: relative;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .breakLinkClassName {
    width: 100%;
  }

  .offersListPage {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: center;
    gap: 16px;
    overflow: hidden;
    padding: 8px;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    /* height: 40%; */
    /* margin-top: auto; */
    margin-bottom: 10px;
    overflow: hidden;
  }

  .offerImage {
    /* margin-bottom: 16px; */
    width: 100%;
    height: min-content;
  }

  .offersList {
    overflow-x: hidden;
  }

  .description {
    margin-top: auto;
    margin-bottom: 12px;
  }

  .offerTitle {
    text-align: center;
    color: rgba(241, 111, 78, 0.8);
    font-size: 14px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.72px;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .offerItem {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
    border: 4px solid rgba(2, 129, 94, 1);
    padding: 32px 16px;
    position: relative;
  }

  .itemDescription {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0px;
    max-width: 480px;
    max-height: calc(1.5em * 4);
    text-overflow: ellipsis;
  }

  .offerBuyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 18px;
    margin-top: 0;
    /* width: 160px;
    height: 44px; */
  }

  .firstLetters {
    color: #840202;
    font-weight: bold;
    position: absolute;
    left: 15px;
    font-size: 13px;
    margin-top: 4px;
  }

  .promotionWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: right;
    margin-top: 28px;
  }

  .paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 27px;
    font-size: 32px;
    cursor: pointer;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .arrow {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }

  .pageNumber {
    font-size: 18px;
    font-weight: bold;
  }

  .pageClassName {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: rgba(2, 129, 94, 0.5);
    color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .pageClassName > a::after {
    content: " ";
  }

  .activePage {
    background-color: rgba(2, 129, 94, 1);
    color: transparent;
  }

  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    margin: 0 auto;
    font-size: 30px;
    background: linear-gradient(90deg, #000 50%, #0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
  }
  .loader::before {
    content: "Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
  }

  @keyframes l21 {
    100% {
      background-position: left;
    }
  }
}

.arrow:hover {
  cursor: pointer;
}
